*~
*.pyc
*.pyo
*.pyt
*.pytc
*.egg-info
.*.swp
.DS_Store
/venv*
.cache/
build/
.idea/
.coverage
.mypy_cache
*.vscode
.compose
generated
dist/
cartography/intel/aws/recordedStats/*
cartography/statistics_file.json
